* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

h1 {
  font-family: "Russo One", sans-serif;
  font-size: 3.4rem;
}

@media (min-width: 500px) and (max-width: 1850px) {
  .container {
    width: 60%;
  }
  h2.content {
    font-size: 1.2rem;
  }
  ul.talents-list {
    width: 50%;
  }
  ul.talents-list li {
    padding: 0.2rem;
    font-size: 1.1rem;
  }
  li a {
    font-size: 2rem;
  }
  .main-logo {
    display: none;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
  h2.content {
    font-size: 1.2rem;
  }
  ul.talents-list {
    width: 90%;
  }
  ul.talents-list li {
    font-size: 1.2rem;
  }
  li a {
    font-size: 1.2rem;
  }
  .top-right-img {
    display: none;
  }
}

nav {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 80%;
  height: 9%;
  background-color: #9deef9;
  align-items: center;
  justify-content: center;
}

ul {
  width: 80%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-family: "Poly", serif;
  font-size: 24px;
  color: rgb(46, 45, 45);
}

.main-logo {
  width: 10%;
  position: fixed;
  bottom: 0;
}

.top-left-img {
  position: fixed;
  height: 70%;
  top: 0;
  left: 0;
}
.top-right-img {
  position: fixed;
  height: 35%;
  top: 0;
  right: 0;
}
